#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.delete-button,
.save-button,
.edit-button
{
  display: flex;
  justify-content: center;
  align-items:center;
  gap:2px;
  background-color: var(--bg-color);
  transition: all 0.2s ease;
}

.save-button{
  border-color: var(--color-success);
  color:var(--color-success);
}

.edit-button{
  border-color: var(--color-info);
  color:var(--color-info);
}

.delete-button{
  border-color: var(--color-destructive);
  color:var(--color-destructive);
}

.save-button:hover,
.save-button:active{
    border-color: var(--color-active-success);
    background-color: var(--bg-success);
    color:var(--color-active-success);
}

.edit-button:hover,
.edit-button:active{
    border-color: var(--color-active-info);
    background-color: var(--bg-info);
    color:var(--color-active-info);
}

.delete-button:hover,
.delete-button:active{
    border-color: var(--color-active-destructive);
    background-color: var(--bg-destructive);
    color:var(--color-active-destructive);
}

