.inline-editable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.inline-editable button{
    background: transparent;
    border: none;
    padding: 2px;
    opacity: 0.5;
    transition: opacity 120ms ease;
}
.inline-editable button:hover{
    opacity: 1;
}

.inline-editable-value{
    margin: 0;
}

.inline-editable:hover {
    background-color: var(--bg-color-editable-text-hover);
    cursor: text;
    }

.inline-editable:focus-within {
    background-color: var(--bg-color-editable-text-editing);
    }

.inline-editable-input{
  background: transparent;
  border: none;
  outline: none;

  font: inherit;
  color: inherit;

  padding: 0;
  margin: 0;
}

.inline-editable-input[type="number"] {
  appearance: textfield;
}

.inline-editable-input[type="number"]::-webkit-outer-spin-button,
.inline-editable-input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

textarea.inline-editable-input {
  resize: none;
  line-height: 1.4;
}

.inline-editable-input.h1{
    font-size: 3.2em;
    line-height: 1.1;
    font-weight: bold;
}
.inline-editable-input.h2{
    font-size: 1.5em;
    font-weight: bold;
}
.inline-editable-input.h3{
    font-size: 1.17em;
    font-weight: bold;
}
.inline-editable-input.h4{
    font-size: 1em;
    font-weight: bold;
}
.inline-editable-input.h5{
    font-size:  0.83em;
    font-weight: bold;
}
.inline-editable-input.h6{
    font-size: 0.67em;
    font-weight: bold;
}
