.product-list{
    list-style-type: none;
    padding-left: 0px;
}

.product-list>li{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: .3fr 3fr 3fr;
    gap: 1rem;
    
    .labels{
        justify-self: end;
    }
    .add-button{
        padding: 5px;
        font-weight: bold;
    }
}

