.recipe-card.recipe-card-small{
    padding: 1em 2em;
    margin-top: .5em;
    .title-row{
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
    .inline-button{
        padding: .1em .4em;
        margin-left: 1.5em;
    }
}