.recipe-card{
    margin-top:2em;
    background-color: var(--bg-card-color);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
}
.full-width{
    width: 100%;
    margin-bottom: 1rem;
}

.recipe-card>.labels{
    border-bottom: 1px var(--border-separator-color) solid;
    margin-bottom: 1rem;
    padding-bottom:1rem;
}

.ingredients-table{
    width: 100%;
}

.ingredients-table .delete-button{
    padding: .5em;
}

.ingredients-table th,
.ingredients-table td{
    padding: .5em 1em;
}

.edit-actions{
    display: flex;
    justify-content: end; 
    gap:.5em;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px var(--border-separator-color) solid;
}