.recipe-card{
    margin-top:2em;
}

.recipe-title-form{
    width:100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    border-radius: 6px;
    transition: all 0.2s ease;
    button{
            background-color: transparent;
            padding:5px;
        }
        button:focus,
        button:focus-visible
        {
            outline: none;
        }

        button:hover {
            border-color: transparent;
        }
    h2{
        margin:0px;
    }
}

.recipe-title-form:hover {
  background-color: #1a1a1a;
}

.recipe-title-form:focus-within {
  background-color: #242424;
  box-shadow: 0 0 0 1px #ccc;
}

@media (prefers-color-scheme: light) {
    .recipe-title-form:hover {
    background-color: #f5f5f5;
    }

    .recipe-title-form:focus-within {
    background-color: white;
    box-shadow: 0 0 0 1px #ccc;
    }
}

.recipe-name{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 6px;
}
.recipe-title-input {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  background: transparent;
  padding: 4px 8px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

