.recipe-list{
    list-style-type: none;
    padding-left: 0px;
    margin-top:2em;
}

.recipe-list>li{
    background-color: var(--bg-card-color);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;  
    margin:2em;  
}
.action-buttons{
    display: flex;
    justify-content: flex-end;
    gap: .5em;
    margin-top: 1em;
}