.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        font-size: 1.2em;
        border-radius: var(--border-radius);
        border: 2px solid var(--button-border-color-active);
    }
}
.search-button{
    margin-left: 1em;
    padding:7px 25px;
}