.over-dropzone {
  outline: var(--dropzone-outline);
  background-color: var(--dropzone-bg);
}

.placeholder {
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  outline: var(--dropzone-outline);
  opacity:.5;
  user-select: none;
  -webkit-user-select: none;
}

.drag-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  cursor: grabbing;
  transform: translate(0, 0);
  user-select: none;
  -webkit-user-select: none;
      .labels>.label{
        font-size: .8em;
        padding: .3em .4em;
        margin:0px 0px 10px 0px;
        font-weight:300;
    }
    .labels{
    gap:5px;
    border-bottom: none;
    margin-bottom: 0px;
     padding-bottom: 0px;
    }
}

.draggable {
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
}

.draggable:active {
  cursor: grabbing;
}